<html>
<title>Hello Ansible</title>

<style>.block {text-align: center;margin-bottom:10px;}.block:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -0.25em;}.centered {display: inline-block;vertical-align: middle;width: 300px;}</style>

<body>
<div class="block" style="height: 99%;">
    <div class="centered">
        <h1>Hello Ansible</h1>
        <p>Served by {{ ansible_hostname }} ({{ ansible_eth1.ipv4.address }}).</p>
        <p>Auto refreshing in</p>
           <div id="countdown"></div>
        <p>seconds</p>
    </div>
</div>
<div id="coundown"></div>
<script type="text/JavaScript">
(function countdown(remaining) {
    if(remaining === 0)
        location.reload(true);
    document.getElementById('countdown').innerHTML = remaining;
    setTimeout(function(){ countdown(remaining - 1); }, 1000);
})(5);
</script>
</body>
</html>
